<a href="https://colab.research.google.com/github/taufiksatrian/freeCodeCamp-Machine-Learning-with-Python/blob/main/Core-Learning-Algorithms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Core Learning Algorithms:**

### **Working with Data**

In [1]:
!pip install -q sklearn

In [2]:
%tensorflow_version 2.x

Colab only includes TensorFlow 2.x; %tensorflow_version has no effect.

In [3]:
from __future__ import absolute_import, division, print_function, unicode_literals

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import clear_output
from six.moves import urllib

import tensorflow.compat.v2.feature_column as fc

import tensorflow as tf

### **Training and Testing Data**

In [4]:
# Import dataset
dftrain = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/train.csv')
dfeval = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/eval.csv')
y_train = dftrain.pop('survived')
y_eval = dfeval.pop('survived')

CATEGORICAL_COLUMNS = ['sex', 'n_siblings_spouses', 'parch', 'class', 'deck','embark_town', 'alone']
NUMERICAL_COLUMNS = ['age', 'fare']

feature_columns = []
for feature_name in CATEGORICAL_COLUMNS:
  vocabulary = dftrain[feature_name].unique()
  print
  feature_columns.append(tf.feature_column.categorical_column_with_vocabulary_list(feature_name, vocabulary))

for feature_name in NUMERICAL_COLUMNS:
  feature_columns.append(tf.feature_column.numeric_column(feature_name, dtype=tf.float32))

print(feature_columns)

[VocabularyListCategoricalColumn(key='sex', vocabulary_list=('male', 'female'), dtype=tf.string, default_value=-1, num_oov_buckets=0), VocabularyListCategoricalColumn(key='n_siblings_spouses', vocabulary_list=(1, 0, 3, 4, 2, 5, 8), dtype=tf.int64, default_value=-1, num_oov_buckets=0), VocabularyListCategoricalColumn(key='parch', vocabulary_list=(0, 1, 2, 5, 3, 4), dtype=tf.int64, default_value=-1, num_oov_buckets=0), VocabularyListCategoricalColumn(key='class', vocabulary_list=('Third', 'First', 'Second'), dtype=tf.string, default_value=-1, num_oov_buckets=0), VocabularyListCategoricalColumn(key='deck', vocabulary_list=('unknown', 'C', 'G', 'A', 'B', 'D', 'F', 'E'), dtype=tf.string, default_value=-1, num_oov_buckets=0), VocabularyListCategoricalColumn(key='embark_town', vocabulary_list=('Southampton', 'Cherbourg', 'Queenstown', 'unknown'), dtype=tf.string, default_value=-1, num_oov_buckets=0), VocabularyListCategoricalColumn(key='alone', vocabulary_list=('n', 'y'), dtype=tf.string, default_value=-1, num_oov_buckets=0), NumericColumn(key='age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='fare', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

In [5]:
dftrain[feature_name].unique()

array([  7.25  ,  71.2833,   7.925 ,  53.1   ,   8.4583,  21.075 ,
        11.1333,  30.0708,  16.7   ,   8.05  ,  31.275 ,   7.8542,
        29.125 ,  13.    ,  18.    ,   7.225 ,  26.    ,  35.5   ,
        31.3875, 263.    ,   7.8792,   7.8958,  27.7208, 146.5208,
         7.75  ,  10.5   ,  82.1708,  52.    ,   7.2292,  11.2417,
         9.475 ,  21.    ,  41.5792,  15.5   ,  21.6792,  17.8   ,
        39.6875,  76.7292,  61.9792,  46.9   ,  80.    ,  83.475 ,
        27.9   ,  15.2458,   8.1583,   8.6625,  73.5   ,  56.4958,
         7.65  ,  29.    ,  12.475 ,   9.    ,   9.5   ,   7.7875,
        47.1   ,  34.375 ,  61.175 ,  34.6542,  63.3583,  23.    ,
        77.2875,   8.6542,   7.775 ,  24.15  ,  14.4542,  14.4583,
       247.5208,   7.1417,   6.975 ,   7.05  ,  14.5   ,  15.0458,
        26.2833,   9.2167,  79.2   ,   6.75  ,  11.5   ,  12.525 ,
         7.3125,  61.3792,   7.7333,  69.55  ,  16.1   ,  55.    ,
        25.4667,  28.7125,   0.    ,  15.05  ,  22.025 ,  26.55  ,
         6.4958,  10.4625,  15.85  ,  18.7875,  31.    , 113.275 ,
        27.    ,   9.35  ,  13.5   ,   7.55  ,  12.275 ,   7.125 ,
        90.    ,  20.2125, 512.3292, 153.4625, 135.6333,  19.5   ,
        29.7   ,  77.9583,  20.25  ,  78.85  ,  12.875 ,  30.5   ,
        12.35  , 110.8833, 108.9   ,  24.    ,  56.9292,  83.1583,
       262.375 ,  26.25  , 164.8667, 134.5   ,   6.2375,  20.525 ,
        23.25  , 133.65  ,  66.6   ,  75.25  ,  69.3   , 211.5   ,
       227.525 ,   7.7292,  12.    , 120.    ,   7.7958,  18.75  ,
         6.8583,  32.5   ,  55.9   ,   8.1125,  19.2583,  27.75  ,
        89.1042,  51.8625,  38.5   ,   7.725 ,  13.7917,   7.0458,
        12.2875,   9.5875,  91.0792,  15.9   ,  19.9667,  49.5042,
       151.55  ,  59.4   ,   7.4958,  34.0208,  93.5   ,  57.9792,
       221.7792,  22.3583, 106.425 ,  49.5   ,  71.    ,  13.8625,
         7.8292,  39.6   ,  79.65  ,  17.4   ,  51.4792,  26.3875,
        30.    ,  40.125 ,  15.    ,  78.2667,  33.    ,  15.55  ,
        65.    ,  14.4   ,  15.7417,  32.3208,   7.0542,   8.4333,
        25.5875,  39.    ,   9.8417,   9.225 ,  10.1708, 211.3375,
        57.    ,  13.4167,  26.2875,   7.7417,   9.4833,   8.3625,
        23.45  ,  20.575 ,  30.6958,  25.9292,   8.6833,   7.8875,
        37.0042,   6.95  ,   8.3   ,   6.4375,  39.4   ,  14.1083,
        13.8583,  50.4958,  52.5542,   5.    ,   9.8458,  10.5167])

In [6]:
dftrain["sex"].unique()

array(['male', 'female'], dtype=object)

### **The Training Process**

Input Function

In [7]:
def make_input_fn(data_df, label_df, num_epochs=10, shuffle=True, batch_size=32):
  def input_function():
    ds = tf.data.Dataset.from_tensor_slices((dict(data_df), label_df))
    if shuffle:
      ds = ds.shuffle(1000)
    ds = ds.batch(batch_size).repeat(num_epochs)
    return ds
  return input_function

train_input_fn = make_input_fn(dftrain, y_train)
eval_input_fn = make_input_fn(dfeval, y_eval, num_epochs=1, shuffle=False)

Creating the Model

In [8]:
linear_est = tf.estimator.LinearClassifier(feature_columns=feature_columns)

WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpk74yn1f9

Training the Model

In [9]:
linear_est.train(train_input_fn)
result = linear_est.evaluate(eval_input_fn)

clear_output()
print('Accuracy : ', result['accuracy'])
print(result)

Accuracy :  0.7613636
{'accuracy': 0.7613636, 'accuracy_baseline': 0.625, 'auc': 0.8304255, 'auc_precision_recall': 0.793974, 'average_loss': 0.47724837, 'label/mean': 0.375, 'loss': 0.46881634, 'precision': 0.6956522, 'prediction/mean': 0.36795515, 'recall': 0.64646465, 'global_step': 200}

In [10]:
result = list(linear_est.predict(eval_input_fn))
print(dfeval.loc[2])
print(y_eval.loc[2])
print(result[2]['probabilities'][1])

sex                        female
age                          58.0
n_siblings_spouses              0
parch                           0
fare                        26.55
class                       First
deck                            C
embark_town           Southampton
alone                           y
Name: 2, dtype: object
1
0.728929

### **Classificafication**

Imports and Setup

In [11]:
%tensorflow_version 2.x

Colab only includes TensorFlow 2.x; %tensorflow_version has no effect.

In [12]:
from __future__ import absolute_import, division, print_function, unicode_literals

import tensorflow as tf
import pandas as pd

Dataset

In [13]:
CSV_COLUMN_NAMES = ['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Species']
SPECIES = ['Setosa', 'Versicolor', 'Virginica']

In [14]:
train_path = tf.keras.utils.get_file(
    "iris_training.csv", "https://storage.googleapis.com/download.tensorflow.org/data/iris_training.csv"
)

test_path = tf.keras.utils.get_file(
    "iris_test.csv", "https://storage.googleapis.com/download.tensorflow.org/data/iris_test.csv"
)

train = pd.read_csv(train_path, names=CSV_COLUMN_NAMES, header=0)
test = pd.read_csv(test_path, names=CSV_COLUMN_NAMES, header=0)

In [15]:
train.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth  Species
0          6.4         2.8          5.6         2.2        2
1          5.0         2.3          3.3         1.0        1
2          4.9         2.5          4.5         1.7        2
3          4.9         3.1          1.5         0.1        0
4          5.7         3.8          1.7         0.3        0

In [16]:
train_y = train.pop('Species')
test_y = test.pop('Species')
train.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth
0          6.4         2.8          5.6         2.2
1          5.0         2.3          3.3         1.0
2          4.9         2.5          4.5         1.7
3          4.9         3.1          1.5         0.1
4          5.7         3.8          1.7         0.3

In [17]:
train.shape

(120, 4)

Input Function

In [18]:
def input_fn(features, labels, training=True, batch_size=32):
  dataset = tf.data.Dataset.from_tensor_slices((dict(features), labels))

  if training:
    dataset = dataset.shuffle(1000).repeat()

  return dataset.batch(batch_size)

Feature Columns

In [19]:
my_feature_columns = []
for key in train.keys():
  my_feature_columns.append(tf.feature_column.numeric_column(key=key))
print(my_feature_columns)

[NumericColumn(key='SepalLength', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='SepalWidth', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='PetalLength', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), NumericColumn(key='PetalWidth', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]

### **Building the Model**

Building the model
- DNNClassifier (Deep Neural Network)
- LinearClassifier

In [20]:
# Build a DNN with 2 hidden layer with 30 and 10 hidden nodes each
classifier = tf.estimator.DNNClassifier(
    feature_columns = my_feature_columns,
    hidden_units = [30,10], # Two hidden layers of 30 and 10 nodes respectively
    n_classes = 3           # The model must choose between 3 classes
)

WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmp8zyqkrj0

Training

In [21]:
classifier.train(
    input_fn = lambda: input_fn(train, train_y, training=True),
    steps = 5000
)

WARNING:tensorflow:It seems that global step (tf.train.get_global_step) has not been increased. Current value (could be stable): 220 vs previous value: 220. You could increase the global step by passing tf.train.get_global_step() to Optimizer.apply_gradients or Optimizer.minimize.
WARNING:tensorflow:It seems that global step (tf.train.get_global_step) has not been increased. Current value (could be stable): 286 vs previous value: 286. You could increase the global step by passing tf.train.get_global_step() to Optimizer.apply_gradients or Optimizer.minimize.
WARNING:tensorflow:It seems that global step (tf.train.get_global_step) has not been increased. Current value (could be stable): 464 vs previous value: 464. You could increase the global step by passing tf.train.get_global_step() to Optimizer.apply_gradients or Optimizer.minimize.
WARNING:tensorflow:It seems that global step (tf.train.get_global_step) has not been increased. Current value (could be stable): 503 vs previous value: 503. You could increase the global step by passing tf.train.get_global_step() to Optimizer.apply_gradients or Optimizer.minimize.
WARNING:tensorflow:It seems that global step (tf.train.get_global_step) has not been increased. Current value (could be stable): 513 vs previous value: 513. You could increase the global step by passing tf.train.get_global_step() to Optimizer.apply_gradients or Optimizer.minimize.

Evaluation

In [22]:
eval_result = classifier.evaluate(
    input_fn = lambda: input_fn(test, test_y, training=False)
)

print('\nTest set Accuracy: {accuracy:0.3f}\n'.format(**eval_result))

Test set Accuracy: 0.533

Predictions

In [24]:
def input_fn(features, batch_size=256):
  return tf.data.Dataset.from_tensor_slices(dict(features)).batch(batch_size)

features = ['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth']
predict = {}

print("Please type numeric values as prompted.")
for feature in features:
  valid = True
  while valid:
    val = input(feature + ": ")
    if not val.isdigit(): valid = False

  predict[feature] = [float(val)]

predictions = classifier.predict(input_fn = lambda: input_fn(predict))
for pred_dict in predictions:
  class_id = pred_dict['class_ids'][0]
  probability = pred_dict['probabilities'][class_id]

  print('Prediction is "{}" ({:.1f}%)'.format(
      SPECIES[class_id], 100 * probability
      ))

Please type numeric values as prompted.
SepalLength: 2.4
SepalWidth: 2.6
PetalLength: 6.5
PetalWidth: 6.3
Prediction is "Virginica" (90.8%)

In [26]:
expected = ['Setosa', 'Versicolor', 'Virginica']
predict_x = {
    'SepalLength': [5.1, 5.9, 6.9],
    'SepalWidth': [3.3, 3.0, 3.1],
    'PetalLength': [1.7, 4.2, 5.4],
    'PetalWidth': [0.5, 1.5, 2.1]
}

### **Clustering**

Basic Algorithm for K-Means
- Step 1: Randmoly pick K points to place K centroids
- Step 2: Assign all of the data points to the centroids by distance. the closest centroid a point is the one it is assigned to.
- step 3: Avarage all the points belonging to each centroid to find the middle of those clusters (center of mass). Place the corresponding centroids into that position
- Step 4: Reassign every point once again to the closest centroid.
- Step 5: Repeat steps 3-4 until no point changes which centroid it belongs to.

### **Hidden Markov Models**

**States**: in each markov model we have a finite set of state. these states could be something like "warm" and "cold" or "high" and "low" or even "red", "green", and "blue". these states are "hidden" within the model, which means we do not direcly.

**Observations:** Each stat has a particular outcome or observation associated with it based on probability distribution. An examplae of this is the following.: *On a hot day Tim has a 80% chance of being happy and a 20% chance of being sad.*

**Transitions:** Each state will have a probability defining the likelyhood of transitioning to different state. An example is the following: *a cold day has a 30% chance of being followed by a hot day and a 70% chance of being followed by another cold day.*

Hidden Markov Hidden Need:
- States
- Observation Distribution
- Transition Distribution

For out pupose we will assume we already have this information available as we attempt to predict the waether on a given day.

Import and Setup

In [27]:
%tensorflow_version 2.x

Colab only includes TensorFlow 2.x; %tensorflow_version has no effect.

In [28]:
import tensorflow_probability as tfp
import tensorflow as tf

Weather Model

1. Cold days are encoded by a 0 and hot days are encoded by a 1
2. The first day in our sequense has an 80% chance of being cold
3. A cold day has a 30% chance of being followed by a hot day
4. A hot day has a 20% chance of being followed by a cold day
5. On each day the temperature is normally distributed with mean and standard deviation 0 and 5 on a cold day and mean and standard deviation 15 and 10 on ahot day

On a hot day avarage temperature is 15 and range from 5 to 25.


To model this in TensoFlow :

### **Using Probabilities to make Predictions**

In [30]:
tfd = tfp.distributions
initial_distribution = tfd.Categorical(probs=[0.8, 0.2])
transition_distribution = tfd.Categorical(probs=[[0.7, 0.3],
                                                 [0.2, 0.8]])
observation_distribution = tfd.Normal(loc=[0., 15.], scale=[5.0, 10.0])

In [31]:
model = tfd.HiddenMarkovModel(
    initial_distribution = initial_distribution,
    transition_distribution = transition_distribution,
    observation_distribution = observation_distribution,
    num_steps = 7
)

In [33]:
mean = model.mean()

with tf.compat.v1.Session() as Session:
  print(mean.numpy())

[3.        5.9999995 7.4999995 8.25      8.625001  8.812501  8.90625  ]

Conclusion
- Core Learning Algorithm in TensorFlow